<div class="w-[calc(50%-4px)] sm:w-[calc(25%-12px)] h-[200px] sm:min-h-[220px] bg-white rounded-lg overflow-hidden border border-gray-200 shadow-md hover:shadow-xl transform hover:scale-105 transition duration-300">
  <div class="px-4 cursor-pointer">
    <div class="flex items-center justify-center h-[100px] sm:h-[120px] bg-white rounded-lg">
      <img src="https://m.media-amazon.com/images/I/51aHtlvwrGL.__AC_SX300_SY300_QL70_ML2_.jpg" alt="デバイス画像" class="w-full h-full max-w-[200px] max-h-[120px] pt-4 pb-2 object-contain">
    </div>
    <p class="text-base sm:text-lg font-semibold text-gray-900 hover:underline line-clamp-2 text-ellipsis">BenQ Zowie XL2546 24.5" 240Hz Gaming Monitor, 1080p - (Renewed)</p>
    <p class="text-xs text-gray-600 pt-2">23,000円</p>
  </div>
</div>
