<h1 class="text-3xl font-bold text-blue-600">Tailwind 導入成功！</h1>
<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>
<div class="flex h-screen items-center justify-center">
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Click me
  </button>
</div>
